---
description: メールの検証 - Marketo ドキュメント - 製品ドキュメント
title: メールの検証
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: e76a79927666cf4b197b8acd2e60a3756cc6f2b0
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 79%

---

# メールの検証 {#email-verification}

AdobeMarketo Engage サブスクリプションを使用する場合、API 専用ユーザーを除くすべてのユーザーは、自分のメールアドレスを検証する必要があります。シングルサインオン（SSO）ユーザーは、メールの検証でサブスクリプションが有効になっている場合、自動的にメールを検証されます。

**ユーザー招待**

管理者がユーザーを招待した場合、招待リンクをクリックすると、そのユーザーは自動的に検証されます。SSO のユーザーは自動的に検証されます。

**メールアドレスの変更**

ユーザーのメールアドレスが変更されると、そのメールアドレスは検証されなくなります。再検証を許可するメールが送信されます。ユーザーは、 **検証を再送信**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**ユーザーと役割**

管理者／ユーザーと役割で、「メールのステータス」列に各ユーザーの検証ステータスが表示されます。

![](assets/email-verification-3.png)

検証 E メールを未検証のユーザーに再送信するには、レコードを選択し、 **メールの確認** 」ボタンをクリックします。
