---
description: 電子メールの検証 — Marketoドキュメント — 製品ドキュメント
title: メールの検証
hide: true
hidefromtoc: true
source-git-commit: 7e6fab646ec03394cb406fc41442d585c162bb25
workflow-type: tm+mt
source-wordcount: '10'
ht-degree: 0%

---

# メールの検証 {#email-verification}
