---
description: メールの検証 - Marketo ドキュメント - 製品ドキュメント
title: メールの検証
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 18a74b9e2860765ea0b8d3bd61419e7738b287fc
workflow-type: ht
source-wordcount: '135'
ht-degree: 100%

---

# メールの検証 {#email-verification}

AdobeMarketo Engage サブスクリプションを使用する場合、API 専用ユーザーを除くすべてのユーザーは、自分のメールアドレスを検証する必要があります。シングルサインオン（SSO）ユーザーは、メールの検証でサブスクリプションが有効になっている場合、自動的にメールを検証されます。

**ユーザー招待**

管理者がユーザーを招待した場合、招待リンクをクリックすると、そのユーザーは自動的に検証されます。SSO のユーザーは自動的に検証されます。

**メールアドレスの変更**

ユーザーのメールアドレスが変更されると、そのメールアドレスは検証されなくなります。再検証を許可するメールが送信されます。管理者は、「**検証を再送信**」をクリックして、手動でメールを再送できます。

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**ユーザーと役割**

管理者／ユーザーと役割で、「メールのステータス」列に各ユーザーの検証ステータスが表示されます。

![](assets/email-verification-3.png)

未検証のユーザーを検証するには、レコードを選択し、「**メールを確認**」ボタンをクリックします。
