---
description: メールの検証 - Marketo ドキュメント - 製品ドキュメント
title: メールの検証
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: e76a79927666cf4b197b8acd2e60a3756cc6f2b0
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 100%

---

# メールの検証 {#email-verification}

AdobeMarketo Engage サブスクリプションを使用する場合、API 専用ユーザを除くすべてのユーザは、自分のメールアドレスを検証する必要があります。シングルサインオン（SSO）ユーザは、メールの検証でサブスクリプションが有効になっている場合、自動的にメールを検証されます。

**ユーザ招待**

管理者がユーザを招待した場合、招待リンクをクリックすると、そのユーザは自動的に検証されます。SSO のユーザは自動的に検証されます。

**メールアドレスの変更**

ユーザのメールアドレスが変更されると、そのメールアドレスは検証されなくなります。再検証を許可するメールが送信されます。ユーザは、「**検証を再送信**」をクリックして、手動でメールを再送できます。

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**ユーザとロール**

管理者／ユーザ＆ロールで、「メールのステータス」列に各ユーザの検証ステータスが表示されます。

![](assets/email-verification-3.png)

未検証のユーザに検証メールを再送信するには、レコードを選択し、「**メールを確認**」ボタンをクリックします。
